body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.components {
  background: green;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  transition: 1.5s;
  color: white;
  font-family: 'Hammersmith One', sans-serif;
}


/* .components > :first-child {
  transform: translateY(-100%);
}
.components > :last-child {
  transform: translateY(100%);
}
.components-active > :first-child {
  transform: translateY(0);
}
.components-active > :last-child {
  transform: translateY(0);
} */

.bg1 {
  background: url(bg1.jpg);
  background-size: cover;
}

.bg2 {
  background: url(bg3.jpg);
  box-shadow: -11px 0px 14px -6px rgb(12, 12, 12);
  background-size: cover;
}

.bg3 {
  background: url(bg2.jpg);
  box-shadow: -11px 0px 14px -6px rgb(12, 12, 12);
  background-size: cover;
}

.bg4 {
  background: url(bg4.jpg);
  box-shadow: -11px 0px 14px -6px rgb(12, 12, 12);
  background-size: cover;
}

.bg5 {
  background: url(bg5.jpg);
  box-shadow: -11px 0px 14px -6px rgb(12, 12, 12);
  background-size: cover;
}


.component-opened {
  flex: 2;
  font-size: 60px;
  font-family: 'Hammersmith One', sans-serif;
}
.topPadding {
  padding-top : 250px;
}
.hidden {
  animation: fadeOut 1s;
  opacity: 0;
  padding-top: 250px;
  transition: padding 1s;
}
.text-shown {
  animation: fadeIn 1s;
  padding-top: 0px;
  transition: padding 1s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 1s;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}